[user]
	name = Jason M. Gates
	email = jmgate@sandia.gov
[color]
	ui = true
[push]
	default = tracking
[rerere]
	enabled = 1
[diff]
	tool = kompare
[difftool]
	prompt = false
[merge]
  tool = p4merge
  conflictstyle = diff3
[core]
	editor = vim
[pull]
	rebase = true
[alias]
	co = checkout
	br = branch
	cob = checkout -b
	ci = commit
	st = status
  rb = rebase
  mg = merge
  stage = add
	unstage = reset HEAD --
	discard = checkout --
  discardall = checkout -- :/
	ca = !git add -A && git commit
	cm = !git add -A && git commit -m
	save = !git add -A && git commit -m "SAVEPOINT"
	restore = reset HEAD~1 --mixed
	wip = commit -am "WIP"
	amend = commit -a --amend
	wipe = "!f() { git add -A && git commit -qm \"WIPE SAVEPOINT\" && git reset HEAD~1 --hard; }; f"
	pl = log --decorate --graph
	pl1 = log --decorate --graph --oneline
	pla = log --decorate --graph --all
	pla1 = log --decorate --graph --all --oneline
  last = "!f() { git log --decorate --graph -${1-1} HEAD; }; f"
	dt = difftool --dir-diff
  mt = mergetool
	d1 = !git diff $1^..$1
	dt1 = !git difftool --dir-diff $1^..$1
  files = diff-tree --no-commit-id --name-only -r
  sl = stash list
  ss = stash save
  sa = stash apply
  sp = stash pop
  sd = stash drop
  bs = bisect start
  bg = bisect good
  bb = bisect bad
  be = bisect reset bisect/bad
	bclean = "!f() { git branch --merged ${1-develop} | grep -v " ${1-develop}$" | xargs -r git branch -d; }; f"
	bdone = "!f() { git checkout ${1-develop} && git pull --rebase --prune && git bclean ${1-develop}; }; f"
